<nav class="flex justify-between w-full text-3xl p-5">
  
  <div>
    <a href='/'><em class="fa fa-home"></em></a>
  </div>

  <div class="">
    <a href='login'>Login</a> | <a href='register'>Register</a>
  </div>
  
</nav>

<hr class="mb-3">
