*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100wh;
  height: 100vh;
  background-color: beige;
}

.status {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 4px;
}

.checked::before {
  position: absolute;
  font-weight: bold;
  color: green;
  content: 'X';
  font-size: 25px;
  line-height: 1.5;
  margin: -10px;
  padding-left: 2px;
}

div, a, li, label, button {
  transition: all 1s ease-out;
}

.control {
  margin-left: 20px;
  border-radius: 7px;
}

button:hover, button.button.is-link:hover, button.button.is-link.is-light:hover {
  color: rgb(225, 0, 255);
  background-color: rgb(255, 255, 255);
}

hr {
  border: 2px solid rgb(254, 225, 35);
  background-color: rgb(220, 220, 220);
}
