{% extends 'layouts/base.twig' %}

{% block nav %}

<nav class="flex justify-between w-full text-3xl p-5">
  
  <div>
    <a href='/'><em class="fa fa-home"></em></a>
  </div>

  <div class="">
    <a href='login'>Login</a> | <a href='register'>Register</a>
  </div>
  
</nav>
{% endblock %}


{% block content %}

<h1 class="text-blue-500 text-center text-4xl">Index</h1>
<br>
<hr>
<div class="card w-[80%] mx-auto mt-5 rounded-2xl">
  <div class="card-title">
    <div class="title">
      <p class="title p-3 px-5">User {{ data.username }}</p>
    </div>
  </div>
</div>
{{ data|join }}

{% endblock %}
