{% extends 'layouts/base.twig' %}

{% block content %}

<h1 class="title text-center pt-5">Register</h1>

<form action="register" method="POST" class="px-12 mx-auto">

  <div class="field">
    <label class="label">Username</label>
    <div class="control has-icons-left has-icons-right">
      <!-- is-success -->
      <input class="input" type="text" placeholder="Text input" value="bulma">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      {# <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span> #}
  </div>
  <p class="help is-success"></p>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control has-icons-left has-icons-right">
    <!-- is-danger -->
    <input class="input" type="email" placeholder="Email input" value="hello@dfsdjfl.com">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    {# <span class="icon is-small is-right"> #}
      {# <i class="fas fa-exclamation-triangle"></i> #}
      {# </span> #}
    </div>
    <p class="help is-danger"></p>
  </div>
  

<div class="field">
  <label class="label">Password</label>
  <div class="control has-icons-left has-icons-right">
    <!-- is-danger -->
    <input class="input" type="password" placeholder="Password input" value="123456">
    <span class="icon is-small is-left">
      <i class="fas fa-key"></i>
    </span>
    {# <span class="icon is-small is-right"> #}
      {# <i class="fas fa-exclamation-triangle"></i> #}
      {# </span> #}
    </div>
    <p class="help is-danger"></p>
  </div>
  

<div class="field">
  <label class="label">Password confirmation</label>
  <div class="control has-icons-left has-icons-right">
    <!-- is-danger -->
    <input class="input" type="password" placeholder="Password confirmation input" value="123456">
    <span class="icon is-small is-left">
      <i class="fas fa-key"></i>
    </span>
    {# <span class="icon is-small is-right"> #}
      {# <i class="fas fa-exclamation-triangle"></i> #}
      {# </span> #}
    </div>
    <p class="help is-danger"></p>
  </div>
  
  <div class="field">
    <div class="control">
      <label class="checkbox">
      <input type="checkbox" checked>
      I agree to the <a href="#">terms and conditions</a>
    </label>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" id="btnSubmitElt">Submit</button>
  </div>
  <div class="control">
    <button class="button is-link is-light">Cancel</button>
  </div>
</div>

</form>
{% endblock %}
