{% extends 'layouts/base.twig' %}
{% block content %}

<h1 class="text-blue-500 text-center text-4xl">Test</h1>

<main class="mx-7 text-2xl">

  <hr>

  {# {{ data|join ?? 'Vide' }} #}

  <hr>
  {% set user = data %}

  {# {% for task in tasks %} #}
  User : {{ user.username|capitalize}}<br>
  {# ID: {{ task.id }}<br> #}
  {# Description: {{ task.content }} #}
  <br>&nbsp;<br>
  {# {% endfor %} #}
</main>

{% endblock %}
